
<div *ngIf="currentPokemon">

    <div *ngIf="!currentPokemon.sprites" class="loading">
      <mat-spinner [diameter]="40" layout-align="center center"></mat-spinner>
    </div>
    
    <div *ngIf="currentPokemon.sprites">
      <h2>{{ currentPokemon.name | titlecase }}</h2>
        <img 
        *ngIf="currentPokemon.sprites.front_default" 
        [src]="currentPokemon.sprites.front_default" 
        [alt]="currentPokemon.name">
        
        <img 
        *ngIf="currentPokemon.sprites.back_default" 
        [src]="currentPokemon.sprites.back_default" 
        [alt]="currentPokemon.name">
        
        <h2>Types: </h2>
        <div *ngFor="let type of currentPokemon.types">
          <a [style.background-color]="colorPicker(type.type.name)" mat-stroked-button class="dropshadow">{{ type.type.name | titlecase }}</a>
        </div>
    </div>
</div>
    
  