/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/deeppurple-amber.css"; */

html, body { height: 95vh }
body { 
    margin: 0;
    padding-top: 20px;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    text-align: center; 
    background-color: #071a52; 
    color: white;
}
